.header-container{
    text-align: center;
    padding: 3rem 0;
}
.header-text{
    text-align: center;
    padding-inline: 2rem;
    font-size: 2.6rem;
    color: #444;
    font-weight: 600;
}
.header-text-add{
    color: #777;
}
