.loginContainer{
    width: inherit;
    height: inherit;
}
.form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 0 2rem;
}
.inputContainer{
    position: relative;
}
.input{
    font-family: var(--font-family);
    width: 100%;
    padding: 1.1rem;
    outline: none;
    border: 1px solid #999;
    border-radius: 1rem;
    color: #777;
    padding-left: 4.2rem;
}
.input::placeholder{
    padding-left: 0.1rem;
    color: #888;
}
.inputIcon{
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    color: #777;
}
.btn{
    width: 100%;
    padding: 1.5rem;
    border: none;
}
.btnLogin{
    background-color: #6ABF69;
    border-radius: 1rem;
    color: #fff;
}
.par{
    color: #888;
    font-size: 1.3rem;
    padding-left: 1rem;
}
.span{
    font-size: 1.4rem;
    color: #F66A68 ;
    cursor: pointer;
}
.message{
    font-size: 1.4rem;
    color: #777;
}
.error{
    color: red;
    font-size: 1.4rem;
}
