.dashboardContainer{
    width: 100%;
    min-height: 100vh;
    background-color: white;

}
.headerContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3.2rem  3rem;
    color: white;
    background-color: #1a1a1a;
}
.profileContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.logoutBtn{
    padding: 0.5rem 1.6rem;
    background-color: #f44336;
    border: none;
    border-radius: 0.5rem;
    color: white;

}
.headerText{
    font-size: 1.6rem;
    font-weight: 500;
    color: white;

}
.savingsContainer{
    margin-top: 2rem;
}
.totalText{
    font-size: 1.2rem;
    color: #666;
    text-align: left;
    margin-left: 3rem;
}
.savingText{
    text-align: left;
    margin-left: 3rem;
    font-size: 2.6rem;
    font-weight: 600;
}
.savingsTable{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

th{
    font-weight: 500;
    text-align: center;
}
td{
    font-size: 1.4rem;
}
